//------------------------------------------------------------------------------
// VARIABLES
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// NAVBAR
//------------------------------------------------------------------------------
header {
    .navbar-light {
        background-color: $secondary;
        .nav-link {
            font-weight: bold;
        }

    }
    
}


//------------------------------------------------------------------------------
// MENU
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// BODY
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// HOMEPAGE
//------------------------------------------------------------------------------



//------------------------------------------------------------------------------
// FOOTER
//------------------------------------------------------------------------------
#footer{
    .footer-logo{
        max-width: 70%;
    }
    .fa.rounded-circle{
        background-color: $secondary;
        color: $black;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
    }
    ul > li{
        font-size: $h5-font-size;
        > a{
            color: $black;
        }
    }
    #interest-links ul{
        columns: 2;
        @include media-breakpoint-up(lg) {
            > li {
                display: inline-block;
            }
            columns: 1;
        }
    }
}

//------------------------------------------------------------------------------
// TOOLS
//------------------------------------------------------------------------------
.antonio {
    &, & * {
        font-family: "Antonio";
    }
}

.missing {
    background-color: #d166703b !important;
    border-color: $danger !important;
}
