//------------------------------------------------------------------------------
// VARIABLES
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// NAVBAR
//------------------------------------------------------------------------------
header {
    .navbar-light {
        background-color: $secondary;
        .nav-link {
            font-weight: bold;
        }

    }
    
}


//------------------------------------------------------------------------------
// MENU
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// BODY
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// HOMEPAGE
//------------------------------------------------------------------------------



//------------------------------------------------------------------------------
// FOOTER
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// TOOLS
//------------------------------------------------------------------------------
.antonio {
    &, & * {
        font-family: "Antonio";
    }
}
