//----------------------------------------------------
// VARIABLES
//----------------------------------------------------
$max-width-form: 640px;
$normal-weight: 300;
$reservation-font: 18px;

//----------------------------------------------------
//  DEFINE MAIN STYLES 
//----------------------------------------------------
.ou {
    max-width: $max-width-form;
    margin-inline: auto;

    section {
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        padding-block: 1rem;
    }
}

//----------------------------------------------------
//  DEFINE MEMBERSHIP APPLICATION STYLES 
//----------------------------------------------------

.ou-membership {
    .js_membership_type {
        .form-row {
            border: 1px solid #CED4DA;
            border-radius: 4px;
        }

        .form-group {
            margin-bottom: 0px;
            padding-block: 0.5rem;
        }
    }
}

//----------------------------------------------------
//  DEFINE MEMBERSHIP APPLICATION CONTACT STYLES 
//----------------------------------------------------
#membership-description {
    font-size: $reservation-font;
    font-weight: $normal-weight;
}

.ou {
    &-membership-apply {
        header nav.navbar {
            &.navbar.navbar-light {
                // The original has !importanto too
                box-shadow: none !important;
            }
        }
    }
    &-membership-form {
        font-size: $reservation-font;
        form label, h4 {
            font-weight: $normal-weight;
        }
    }
}

//----------------------------------------------------
//  DEFINE RESERVATION FORM STYLES 
//----------------------------------------------------
.ou-reservation {
    &, & input, & select, .o_payment_form .payment_option_name {
        font-size: $reservation-font + 2;
        font-weight: bold;
    }

    h4, h5 {
        font-family: "Antonio";
        font-size: $reservation-font + 6;
        text-transform: uppercase;
    }

    .js_reservation_payment {
        // Fix input#year
        .credomatic-card-form .labeled-div {
            height: auto;
        }
        .o_payment_acquirer_select {
            p {
                font-weight: normal;
                font-size: $reservation-font;
            }
            // Center the radio and the text
            input[type='radio'] {
                vertical-align: baseline;
            }
        }       
    }
}
